@model PairingTest.Web.Models.QuestionnaireViewModel

<html>
    <head>
        <title>@Model.QuestionnaireTitle</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
                <div>
                    <h2>Welcome to the Geography Questionaire</h2>
                </div>
                <div>
                    @foreach (var item in Model.QuestionsText)
                    {
                        <table>
                            <tr>
                                <td>
                                    @item <br>
                                    Answer: <input type="text"><br><br />
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <div class="pull-right">
                    <input type="submit" value="Create" class="btn btn-default" style="background-color:lightblue; font-weight: bold" />
                </div>
            }
    </body>
</html>
